Makefile.in
Makefile
autom4te.cache
aclocal.m4
configure
config.log
config.status
config.status.lineno
depcomp
install-sh
intltool-*
missing
po/POTFILES
po/stamp-it
.deps
*.gmo
*.o
*.so
data/bonobo/GNOME_RevelationApplet.server
data/cracklib/pwdict.hwm
data/cracklib/pwdict.pwd
data/cracklib/pwdict.pwi
data/mime/revelation.desktop
src/revelation
src/revelation-applet
src/wrap/crack/crack.c
